#####################################################################################
      Welcome to Red Hat Openshift Container Platform 3.11 Workshop On RHPDS
{% if guid == 'repl' %}
                        *** DEVELOPMENT MODE ***
{% endif %}
#####################################################################################
Information about Your current environment:

OpenShift Application Console: https://{{ openshift_master_cluster_public_hostname }}
OpenShift Administrator Console: https://console.{{ openshift_master_default_subdomain }}

Wildcard domain for application routes: *.{{ openshift_master_default_subdomain }}
